.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-progress-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
}

.profile-wrapper .profile-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-bottom: 24px;
}

.profile-wrapper #description-input {
  width: 700px;
}

#save-profile-btn {
  margin-top: 24px;
}