.shell-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.shell-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 1px;
  margin-top: 64px;
  padding: 24px;
  padding-right: 0;
  margin-right: 2px;
  padding-top: 0;
}