.icon-button {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    color: #333;
}

.icon-button:hover {
    cursor: pointer;
    opacity: .7;
}

.actions {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    border-top: 1px solid black;
    background-color: #4dabf53b;
    width: 100%;
}

.icon-button span {
    text-align: center;
}

.social-shell-container {
    margin-left: 101px;
    height: calc(100vh - 88px);
    overflow: auto;
    padding-right: 3px;
}

 .received-request-button {
    margin-top: 20px;
} 